body{
  position: relative;
  text-align: center;
  background: black;
  /* background-image: url('../img/bg.png'); */
}
.first-block{

  display: inline-block;
  margin-top: 20vh;

  opacity: 0.9;

}
.first-block-content{
  padding: 100px;
}
#text{
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  color: yellow;
}
#heading{
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: yellow;
}
img{
  width:250px;
  height: 250px;
  border-radius: 100%;
}
